@import '../../style/variables.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: linear-gradient(to bottom, $green, $darkColor);
	color: white;
	box-sizing: border-box;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 30px;
	overflow: hidden;

	.logo-icon {
		width: 50px;
		padding: 50px;
	}

	nav {
		li {
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 20px 50px;

			.icon {
				width: 25px;
				margin-right: 20px;
			}

			.title {
				font-size: 17px;
				font-weight: 500;
			}

			&.selected {
				background-color: $darkColor;
				margin-right: 10px;
				border-radius: 50px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	.expand-menu-container {
		width: 33px;
		height: 33px;
		border-radius: 50%;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 15px;
			fill: white;
		}
	}
}

@media only screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}
}
